<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="container center_div">

  <h3 class="text-center my-4">Create an Event</h3>

    <form class="needs-validation" novalidate>
        <div class="form-group">
          <label for="eventName">Event Name</label>
          <input class="form-control" id="eventName1" placeholder="Enter event name" required>
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input class="form-control mb-3 mr-sm-3" id="location1" placeholder="Location">
        </div>
        <form class="form-inline">
        <div class="form-group form-inline">
            <label for="datetime-local-input" style="padding: 10px">Start Date</label>
            <input class="form-control mb-3 mr-sm-3" type="date" value="2019-06-19T13:45:00" id="example-datetime-local-input">
        </div>
        <div class="form-group form-inline">
            <label for="datetime-local-input" style="padding: 10px">Start Time</label>
            <input class="form-control" type="time" value="2019-06-19T13:45:00" id="example-datetime-local-input">
        </div>
      </form>
      <form class="form-inline">
          <div class="form-group form-inline">
              <label for="datetime-local-input" style="padding: 10px">End Date</label>
              <input class="form-control mb-3 mr-sm-3" type="date" value="2019-06-19T13:45:00" id="example-datetime-local-input">
          </div>
          <div class="form-group form-inline">
              <label for="datetime-local-input" style="padding: 17px">End Time</label>
              <input class="form-control" type="time" value="2019-06-19T13:45:00" id="example-datetime-local-input">
          </div>
        </form>
        <div class="form-group">
          <label for="description">Add a description</label>
          <textarea class="form-control" id="textarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="photoUpload">Upload a photo</label>
            <input type="file" class="form-control-file" id="formControlFile1">
          <div>
            <img src="">
            </div>
          </div>
        <div class="text-center">
        <button type="submit" class="btn btn-primary custom mx-5">Submit</button>
        <button type="cancel" class="btn btn-danger custom mx-5">Cancel</button>
        </div>
</form>

</div>


