<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="container center_div">

  <h3 *ngIf="!edit" class="text-center my-4">Create an Event</h3>
  <h3 *ngIf="edit" class="text-center my-4">Edit Event</h3>

    <form class="needs-validation" novalidate [formGroup]="addForm" (ngSubmit)="newEvent()">
        <div class="form-group">
          <label for="eventName">Event Name</label>
          <input class="form-control" id="title" placeholder="Enter event name" required
          [(ngModel)]="model.title" formControlName="title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
          <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
              <div *ngIf="f.title.errors.required">Event name is required</div>
          </div>   
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input class="form-control mb-3 mr-sm-3" id="location" placeholder="Enter location" required
          [(ngModel)]="model.location" formControlName="location" [ngClass]="{ 'is-invalid': submitted && f.location.errors }">
          <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
              <div *ngIf="f.location.errors.required">Location is required</div>
          </div>
        </div>
        <div class="form-inline">
        <div class="form-group form-inline">
            <label for="datetime-local-input" style="padding: 10px">Date</label>
            <input class="form-control mb-3 mr-sm-3" type="date" id="date" required
            [(ngModel)]="model.date" formControlName="date" [ngClass]="{ 'is-invalid': submitted && f.date.errors }">
            <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                <div *ngIf="f.date.errors.required">Date is required</div>
            </div>
        </div>
        <div class="form-group form-inline">
            <label for="datetime-local-input" style="padding: 10px">Time</label>
            <input class="form-control" type="time" id="time" required
            [(ngModel)]="model.time" formControlName="time" [ngClass]="{ 'is-invalid': submitted && f.time.errors }">
            <div *ngIf="submitted && f.time.errors" class="invalid-feedback">
                <div *ngIf="f.time.errors.required">Time is required</div>
            </div>
        </div>
      </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" rows="3" placeholder="Add a description"
          [(ngModel)]="model.description" formControlName="description"></textarea>
        </div>
        <div class="form-group">
            <label for="photoUpload">Upload a photo</label>
            <input type="url" class="form-control" id="imageUrl" placeholder="Paste an image URL"
            [(ngModel)]="model.imageUrl" formControlName="imageUrl" [ngClass]="{ 'is-invalid': submitted && f.imageUrl.errors }">
            <div *ngIf="submitted && f.imageUrl.errors" class="invalid-feedback">
                <div *ngIf="f.imageUrl.errors.required">Image is required</div>
            </div>
          <div>
            <img src="">
            </div>
          </div>
        <div class="text-center">
        <button *ngIf="!edit" class="btn btn-primary custom mx-5">Submit</button>
        <button *ngIf="!edit" type="cancel" class="btn btn-danger custom mx-5" routerLink="/dashboard">Cancel</button>
        <button *ngIf="edit" class="btn btn-primary custom mx-5" routerLink="/dashboard">Save Changes</button>
        <button *ngIf="edit" class="btn btn-secondary custom mx-5" routerLink="/dashboard">Cancel</button>
        <button *ngIf="edit" class="btn btn-danger cuseom mx-5" (click)="delete()" routerLink="/dashboard">Delete Event</button>
        </div>
      </form>

</div>


