<div class="card mb-3"  align="center">

        <div style="max-height: 300px; overflow:hidden; vertical-align:middle">
            <img src="{{event.imageUrl}}"
                class="card-img" alt="..." >
        </div>
        <div style="margin-top:10px">
            <h3 class="card-title">{{event.title}}</h3>
        </div>
        <div class="row no-gutters">

            <div class="col-md-8">
                <div class="card-body" align="left" style="margin-left:20px">
                    <p class="card-text">{{event.time}} {{event.date}}</p>
                    <p class="card-text">{{event.location}}</p>
                </div>
            </div>
            <div class="col-md-4" style="vertical-align:middle">
                <button type="button" class="btn btn-outline-primary btn.lg" style="margin-top:25px" *ngIf="!joined" (click)="join()">Join</button>
                <button *ngIf="joined" class="btn btn-secondary btn.lg" style="margin-top:25px">Joined</button>
                <p class="card-text"><small class="text-muted">{{event.attendees.length}} Fins going</small></p>
                <a *ngIf="creator"  class="nav-link" 
                routerLink="/editevent" (click)="editClick()">Edit</a>
            </div>
        </div>
        <div style="text-align: left">
            <p class="card-text"><small class="text-muted">Created by: {{event.creator.firstname}} {{event.creator.lastname}}</small>
        </div>

        <div>
            <div class="card-footer text-muted" routerLink="/details" (click)="commentsClick()">
                <div>
                    12 Comments
                </div>
            </div>

        </div>
    </div>
