<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div  style="text-align:center ;align-self:center">
        <app-infonavbar></app-infonavbar>
        
        <div style="padding-left:300px; padding-right:300px">
          <app-infocard [event]="event" [eventsList]="eventsList"></app-infocard>
          <app-infocomment *ngFor="let comment of event.comments" [comment]="comment"></app-infocomment>
      
        </div>
      
      </div>
      
      
      <router-outlet></router-outlet>