<div align="center">

    <div style="max-height: 400px; overflow:hidden; vertical-align:middle">
        <img src="{{event.imageUrl}}"
            class="card-img" alt="..." >
    </div>
    <div style="margin-top:10px">
        <h3 class="card-title">{{event.title}}</h3>
    </div>
    <div class="row no-gutters">

        <div class="col-md-10">
            <div class="card-body" align="left" style="margin-left:20px">
                <p class="card-text">{{event.date}}</p>
                <p class="card-text">{{event.location}}</p>
                <div class="card-text">Going: </div> <div *ngFor="let p of going">{{p.firstname}} {{p.lastname}}</div>
                <p></p>
                <p class="card-text">More Details: {{event.description}}
                </p>
            </div>
        </div>
        <div><button type="button" class="btn-primary btn-lg" *ngIf="!joined" (click)="join()">Join</button></div>
        <div><button *ngIf="joined" class="btn btn-secondary btn.lg">Joined</button></div>


    </div>
    <div style="text-align: left">
        <p class="card-text"><small class="text-muted">Created by: {{event.creator.firstname}} {{event.creator.lastname}}</small>
    </div>

    <div>
        <div class="card-footer text-muted">
            <div>
                Comments
            </div>
        </div>


    </div>
</div>
