<div align="center" class = "border-bottom-0">

    <div class = "border-top border-bottom"style="margin-top:55px;max-height: 400px; overflow:hidden; vertical-align:middle">
        <img src="{{event.imageUrl}}" class="card-img" alt="...">
    </div>
    <div style="margin-top:10px">
        <h3 class="card-title">{{event.title}}</h3>
    </div>
    <div class="row no-gutters">

        <div class="col-md-10">
            <div class="card-body" align="left" style="margin-left:20px">
                <p class="card-text">Time: {{event.time}} </p>
                <p class="card-text">Date: {{event.date}}</p>
                <p class="card-text">Location: {{event.location}}</p>
                <p></p>
                <div class="card-text">Going: </div>
                <div *ngFor="let p of event.attendees">{{p.firstname}} {{p.lastname}}</div>
                <p></p>
                <p class="card-text">More Details: {{event.description}}
                </p>
            </div>
        </div>
        <div class="col-md-2" style="vertical-align:middle">
            <button type="button" class="btn btn-outline-primary btn.lg" style="margin-top:25px"
                *ngIf="!joined && !hover" (click)="join()">Join</button>
            <button *ngIf="joined" class="btn btn-secondary btn.lg" style="margin-top:25px"
                (mouseenter)="hover=true; joined=false">Joined</button>
            <button *ngIf="hover" class="btn btn-warning btn.lg" style="margin-top:25px" (mouseleave)="mouseLeave()"
                (click)="leave()">Leave</button>
            <p class="card-text"><small class="text-muted">{{event.attendees.length}} Fins going</small></p>
            <a *ngIf="creator" class="nav-link" routerLink="/editevent" (click)="editClick()">Edit</a>
        </div>


    </div>
    <div style="text-align: left">
        <p class="card-text"><small class="text-muted">Created by: Edmund Pan</small>
    </div>

    <div>
        <div class="card-footer text-muted" style="margin-bottom:10px">
            <div>
                Comments
            </div>
        </div>
        <div class="row no-gutters" style="left:5px">
            <div class="col-md-10" style="float:left">
                <div class="form-group">
                    <input class="form-control mb-3 mr-sm-3" id="content" placeholder="Write a Comment"
                        [(ngModel)]="comment.content" content="content">
                </div>
            </div>
            <button (click)="newComment()" type="submit" class="btn btn-primary custom mx-2"
                style="margin-bottom:10px">Submit</button>

        </div>
    </div>
</div>