<div style="position:fixed; top: 0; text-align: center; z-index:9; background-color:white; width:100%;padding-left:300px; padding-right:300px">
    <h1 class="title">Event Details</h1>
</div>
<div style="left:5px">
    <button type="button" class="btn-primary btn-lg" style="position:fixed; top: 0;left:300px; text-align: center; z-index:9;" routerLink="/dashboard">Back</button>
</div>
<button type="button" class="btn-primary btn-lg" style="position:fixed; top: 0;left:300px; text-align: center; z-index:9;" routerLink="/dashboard">Back</button>
